.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 2px; /* mesmo tamanho que os elementos do tipo label */
  }

  button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: 0.5em;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body {
    background-color: #ffffff;
    display: center;
  }
  