body {
    margin: 0px;
    background-color: bisque;
    padding: 0px;
    height: 180vh;
    width: 240vh;
}

.pai {
    background-color: aqua;
    width: 300px;
    height: 300px;
    margin: 150px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(70, 68, 68);
}

.pai h1 {
    color: rgb(27, 6, 121);
}

.filho {
    background-color:rgb(132, 0, 255);
    width: 150px;
    height: 150px;
    position: relative;
    top: 75px;
    left: 75px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.filho h2 {
    color:rgb(45, 10, 78);
}

p {
    display: center;
    width: 290px;
    margin-top: 2.5%;
    margin-left: 2%; 
}

.paragrafo {
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-style: italic;
    font-family: system-ui, -apple-system,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    width: 13.5%;
    height: 8.5%;
    margin-left: 6.6%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(132, 0, 255);
    text-transform: capitalize;
    box-shadow: 10px 10px 5px rgb(70, 68, 68);
    text-shadow: 2px 2px 2px rgb(0, 247, 255), 3px 4px 4px rgb(0, 0, 0);
    text-align: center;
}